*.rar
*.zip
*.mp4
.vs/
/Source/MOS_WORD_Learn/MOS_WORD_Learn/bin/Debug/data
/Source/MOS_WORD_Learn/MOS_WORD_Learn/bin/Debug/help
/Source/MOS_WORD_Learn/MOS_WORD_Learn/bin/Debug/ICon
/Source/MOS_WORD_Learn/MOS_WORD_Learn/bin/Debug/Zip
/Source/MOS_WORD_Learn/MOS_WORD_Learn/obj/Release
/Source/MOS_WORD_Learn/MOS_WORD_Learn/obj/Debug
/Source/MOS_WORD_Learn/MOS_WORD_Learn/bin/Debug
/Source/Excel_thi/MOS_EXCEL_TEST/bin
/Source/Excel_thi/MOS_EXCEL_TEST
/Source/MOS_WORD_Learn/MOS_WORD_Learn/bin
/Source/Word_Thi/Word_Thi/obj/Debug
/Source/Word_Thi/Word_Thi/obj/Debug
/Source/Word_Thi/Word_Thi/obj/Release
/Source/MOS_EXCEL/MOS_EXCEL/bin
/Source/MOS_EXCEL/MOS_EXCEL/obj
/Source/Word_Thi/Word_Thi/obj
/Source/Word_Thi/Word_Thi/bin
/PPT_19
/ideaIU-2025.2.3.win
/Source/Excel_thi/bin
/Source/Excel_thi/obj/Debug
/Source/Excel_thi/obj/Debug
